<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vrde Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
</head>

<body>
    <div class="main" id="app">
        <div class="header">
            <img src="images/logoMainIcon.png" alt="" class="logo">
            <div class="contain">
                <div class="search">
                    <div class="searchLabel">Bienvenides!</div>
                    <input id="searchInput" v-on:input="scrollTopProducts()" type="text" v-model="search"
                        placeholder="Que buscas?">
                </div>
                <div class="filter">
                    <a class="button" v-bind:class="{active : active['verdura'].status}"
                        @click="setVisibility('verdura');"><img class="filterIcon" src="images/carrot.png">Verduras</a>
                    <a class="button" v-bind:class="{active : active['fruta'].status}"
                        @click="setVisibility('fruta');"><img class="filterIcon" src="images/apple.png">Frutas</a>
                    <a class="button" v-bind:class="{active : active['almacen'].status}"
                        @click="setVisibility('almacen');"><img class="filterIcon" src="images/milk.png">Almacén</a>
                </div>
            </div>
            <div class="headerDisplay">
                <div class="aviso">
                    Todos nuestros productos son AGROECOLÓGICOS u ORGÁNICOS.
                    <br />
                    Consultanos por el cajoncito en PROMO de la semana !!
                    <br />
                    <br />
                    HORARIOS DE ATENCIÓN EN LA LUCILA, ANCHORENA 684
                    <br />
                    VIERNES y SÁBADOS de 10 a 20 hrs. (Con todas las variedades, vamos al campo el Jueves!)
                    <br />
                    LUNES a JUEVES de 11 a 20 hrs. (Puede que no esté disponible todo lo publicado, consultar)
                    <br />
                    <br />
                    HACEMOS ENVÍOS A DOMICILIO VIERNES Y SÁBADOS ♥ Consultar costos
                    <br />
                    Consultas: 15 6222 0308

                </div>
            </div>
        </div>
        <div class="products" id="products">
            <div v-cloak class="item" v-for="item in orderBy(filteredItems, 'name')">
                <img :src="`images/${item.image}`" class="productImage">
                <div class="title">
                    {{item.name}} = ${{ item.price }}
                </div>
                <div class="setAmount">
                    <div class="remove" v-on:click="removeItem(item)">-</div>
                    <input type="number" step="any" class="amount" v-on:input="updateValue(item)"
                        v-model="item.amount" />
                    <div class="add" v-on:click="addItem(item)">+</div>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="head">
                <div class="cartTitle">
                    <img src="images/scale.png" alt="" class="cartIcon">
                    <div class="title">Carrito</div>
                </div>
                <div class="verduraCart" v-if="cartHas.verdura == true" v-cloak>
                    <div class="verduras">Verduras</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'verdura'">
                        <img :src="`images/${item.image}`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.fruta == true">
                    <div class="frutas">Frutas</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'fruta'">
                        <img :src="`images/${item.image}`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.almacen == true">
                    <div class="frutas">Almacen
                        <div class="subtitle">Todos estos productos son agroecológicos también</div>
                    </div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'almacen'">
                        <img :src="`images/${item.image}`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartTotal">Total = ${{cartTotal}}</div>
            <div class="schedule">
                <div class="title">
                    ESCANEÁ EL SIGUIENTE CÓDIGO PARA PAGAR CON MERCADO PAGO
                </div>
                <img src="images/qr.jpg" alt="" class="logoMainIcon">
            </div>
            <form action="#" class="userForm">
                <div class="title">Datos de Usuario</div>
                <div class="required">* Por favor complete los campos requeridos</div>
                <input class="requiredInput" type="text" placeholder="Nombre" v-model="userData.name" required>
                <input class="requiredInput" type="tel" placeholder="Telefono" v-model="userData.phone" required min-length="8">
                <div class="delivery">
                    <select name="delivery" id="delivery" required="required" class="requiredInput"
                    @change="changeLocation($event)">
                    <option value="3" disabled selected>Escoger forma de entrega</option>
                    <option value="0">Retirar en Anchorena 684, La Lucila</option>
                    <option value="1">Envio a Domicilio</option>
                </select>
            </div>
            <input class="requiredInput" v-if="userData.delivery == true" type="text" placeholder="Direccion" v-model="userData.address">
            <div class="deliveryLabel"  v-if="userData.delivery">
                Costo de flete aprox = 20% de el total del pedido. Ayudanos a reducir el precio del envio compartiendo este link!
            </div>
            </form>
            <div class="confirm" v-on:click="formValidate(cart)">Realizar pedido</div>
            <div class="confirmSale" v-show="confirmModal == true"
                v-bind:class="{ activateModal: confirmModal == true }" style="opacity: 0;">
                <div class="modal">
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title error">Por favor complete los <br> campos requeridos.</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === false">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">Confirmar pedido?</div>
                        <div class="confirmButton" v-on:click="saveSale(cart)">Confirmar</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">
                            <div v-if="userData.delivery == false">
                                Gracias!  Su pedido se ha realizado con exito. <br>
                                Podes retirarlo por el local Viernes o Sabados de 10 a 20 hrs.
                            </div>
                            <div v-if="userData.delivery == true">
                                Gracias!  Su pedido se ha realizado con exito. <br>
                                Nos estaremos comunicando con vos para coordinar la entrega.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="schedule">
                <div class="title">
                    <img class="btc" src="images/btc.jpg" alt=""> PAGA CON BITCOIN!
                    <br>
                    <strong style="color:#333;">1DdkCoDbAjPLgdkvQRizmLi438M16piqFB</strong>
                </div>
            </div> -->
            <!-- <div id="replybox"></div> -->

            <a class="top-link hide" id="js-top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                    <path d="M12 6H0l6-6z" /></svg>
            </a>
            <div class="footer">
                <img src="images/logoMainIconOnly.png" alt="" class="footerLogo">
                <div class="social">
                    <div class="link">
                        <img src="images/fb.png" alt="" class="fb">
                        <img src="images/insta.png" alt="" class="insta">
                        Seguinos en Instagram /vrde_club
                    </div>
                    <div class="contact">
                        <img src="images/phone.png" alt="" class="phone">
                        Dudas y consultas llamanos: 15 6222 0308
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <!-- <script src="https://cdn.getreplybox.com/js/embed.js"></script> -->
    <script src="main.js"></script>
</body>

</html>