html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.aviso {
    padding: 20px;
    color: #636363;
    font-size: 12px;
    font-family: Ubuntu;
    line-height: 14px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 0.81em;
    line-height: 1.4;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:required {
    border: 1px dashed red;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body {
    margin: 0px;
}

.text-grey-dark {
    display: none !important;
}

.main {
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.main .search {
    background-color: #333333;
    height: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    transition: all .25s ease-in-out;
}

.main .search.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    height: 50px;
    justify-content: flex-start;
}

.main .filter.fixed {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 230px;
    max-width: 100%;
    z-index: 1000;
    height: 50px;
}

.main .filter.fixed .button {
    width: 50px;
    color:#fff0;
    background-color:white;
    font-size: 0px;
}

.main .filter.fixed .button:nth-child(2) {
    margin:0px;
}

.main .filter.fixed .filterIcon {

right: 0px;

height: 30px;

width: 30px;
}



.netlify-identity-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-family: Ubuntu;
    max-width: 680px;
    margin: auto;
}

.netlify-identity-item {
    padding: 20px;
}

.netlify-identity-signup, .netlify-identity-login {
    color: #333;
    text-decoration: none;
    font-family: Ubuntu;
}

.headerBtc {
    width: 50px;
    opacity: 0.8;
}

.search input {
    flex: 1;
    max-width: 200px;
    padding: 3px;
    padding-left: 9px;
    color: #333333;
}

.filterProducts {
    max-width: 320px;
    font-family: Ubuntu;
    font-size: 14px;
    padding-bottom: 12px;
    position: relative;
    bottom: 0px;
}

.main .search .searchLabel {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    height: 18px;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 10px;
    flex: 1;
    max-width: 110px;
    min-width: 110px;
    font-size: 16px;
    font-size: 1em;
}

.main .search img.searchLabel {
    background-color: #333;
    height: 20px;
    padding: 20px;
}

.main .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-bottom: 12px;
    margin-top: 10px;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.main .header .contain {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
    max-width: 438px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: 10px;
    /* margin-top: 40px; */
    height: 105px;
    width: 100%;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    height: 45px;
    flex: 1;
}

.filter .button {
    padding: 13px;
    color: #808080;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    max-width: 146px;
    margin-bottom: 0px;
    flex: 1;
    padding-top: 15px;
    font-weight: 100;
    font-size: 1em;
    box-shadow: 0px 3px 6px #33333329;
    border-left: 2px solid #00cc65;
}

.filter .button .filterIcon {
    width:25px;
    height:25px;
    position:relative;
    bottom:7px;
    right: 2px;
}
.filter .button:nth-child(2) {
    margin: 0px 10px;
}

.filter .button.active {
    color: white;
    background-color: #00cc65 !important;
}

a.button.active {}

.headerDisplay {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 6px #33333329;
    border-left: 2px solid #00cc65;
    max-width: 644px;
    margin: 0px 10px;
}

.userForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 281px;
    position: relative;
    top: 2px;
    margin-bottom: 30px;
}

.userForm .title {
    flex: 1 100%;
    margin-bottom: 13px;
    color: #808080;
    font-size: 18px;
}

.userForm input {
    border-width: 0px;
    padding: 9px;
    font-size: 16px;
    margin: 5px 0px;
    min-width: 210px;
    background-color: #f7f7f7ba;
    flex: 1;
    color: #808080;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.userForm .required {
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
    color: #fe5046;
}

.userForm input.requiredInput {
    box-shadow: 0px 0px 1px 0.5px #fe504638;
    border-left: 2px solid #fe5046;
}

.userForm input.disabled {
    border-width: 0px;
    padding: 10px;
    font-size: 14px;
    margin: 6px;
    min-width: 210px;
    background-color: #f0f0f0;
    flex: 1;
    opacity: 0.4;
    position: relative;
}

.delivery {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    font-size: 16px;
}

.delivery label .small {
    position: relative;
    top: 5px;
    font-size: 10px;
}

.delivery label {
    position: relative;
    top: 2px;
    color: #808080;
}

.delivery input {
    width: 10px;
    min-width: 20px;
    position: relative;
    top: 3.5px;
    right: 6px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    box-shadow: none;
}

.discounts {
    margin: 0px;
    display: flex;
    padding: 20px 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    min-width: 240px;
    background: #ffffffd4;
    width: 100%;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.cartTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.cartTitle .cartIcon{
    height: 70px;
}
.cartTitle .title{
    text-align: center;
    font-size: 30px;
}


.frutaCart, .almacenCart {
    padding: 10px;
    padding-top: 20px;
    background: #fff;
    color: #333;
    padding-bottom: 20px;
    width: 95%;
    max-width: 800px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #33333329;
    border-left: 2px solid #00cc65;
}

.frutaCart .frutas, .almacenCart .frutas {
    padding: 10px;
    color: #00cc65;
    font-size: 25px;
}

.almacenCart .subtitle {
    color: #00cc65;
    font-size: 14px;
    padding-top: 10px;
    color: #3d4852;
    margin-left: 5px;
}

.frutaCart .frutaCart .subtitle {
    background: #333;
    color: #00cc65;
    font-size: 14px;
    padding-top: 10px;
    color: #ffffff99;
}

.equals {
    padding-top: 0px;
    padding: 0px 20px;
    text-align: center;
    align-items: center;
}

.discounts .amount {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding: 3px;
    justify-content: flex-start;
    align-items: center;
    color: #333333;
    width: 81px;
}

.discounts .price {
    width: 240px;
}

.main .header .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #17ba7bfc;
    width: 290px;
    margin-bottom: 10px;
}

.main .header .logo {
    height: 110px;
    position: relative;
    margin: 10px;
    margin-top: 30px;
    margin: 0px 20px;
}

.schedule .logoMainIcon {
    width: auto;
    padding: 15px;
    margin-top: 13px;
    height: 150px;
}

.main .products {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    max-width: 1080px;
    margin: 0 auto;
}

.main .products .item {
    width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    background: #333;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    max-height: 240px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.main .products .item .productImage {
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    background: #e6e6e6;
    object-fit: cover;
}

.main .products .item .title {
    color: white;
    padding: 7px;
    padding-left: 10px;
    font-size: 12px;
    width: 100%;
    line-height: 17px;
}

.main .products .item .price {
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
    display: none;
}

.main .products .item .setAmount {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}

.main .products .item .add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #00cc65;
    height: 35px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    padding-bottom: 4px;
}

.main .products .item .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #fe5046;
    height: 35px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    padding-bottom: 4px;
}

.main .products .item .amount {
    width: 70px;
    height: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    color: #808080;
    font-weight: bold;
}

.main .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    color: #555555;
    position: relative;
    overflow: hidden;
}

.main .cart .head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-position: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 4px;
    padding-top: 0px;
    max-width: 700px;
}

.schedule {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    max-width: 320px;
}

.schedule .title {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #00cc65;
    margin-bottom: 5px;
    max-width: 30100%px;
    line-height: 24px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1em;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .cart .head .schedule .day {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    padding: 0px 2px;
    justify-content: flex-start;
    color: #808080;
    line-height: 20px;
}

.main .cart .verduraCart {
    padding: 10px;
    padding-top: 20px;
    color: #333;
    padding-bottom: 20px;
    width: 95%;
    max-width: 800px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #33333329;
    border-left: 2px solid #00cc65;
}

.main .cart .verduraCart .verduras {
    padding: 10px;
    color: #00cc65;
    font-size: 25px;
}

.main .cart .price {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 14px;
    position: relative;
    left: 15px;
    top: 1px;
    margin-right: 20px;
    color: #ffffff99;
}

.main .cart .item {
    margin-bottom: 20px;
    margin: 13px;
    border-bottom: 0.2px solid #ececec;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.main .cart .item .itemName {
    display: flex;
    flex-wrap: wrap;
}

.main .cart .item .itemTotal {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
}

.main .cart .item .img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    object-fit: cover;
}

.main .cart .item .name {
    margin-right: -10px;
    font-size: 14px;
    padding-right: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    line-height: 18px;
    flex: 1 100%;
    font-weight: bold;
}

.main .cart .item .amount {
    font-size: 16px;
    display: flex;
    min-width: 50px;
}

.main .cart .item .total {
    color: #00cc70;
}

.btc {
    width: 50px;
}

.main .cart .cartTotal {
    font-size: 25px;
    color: #00cc65;
    flex: 1 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.main .cart .confirm {
    width: 280px;
    display: flex;
    text-align: center;
    background-color: #00cc65;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    margin: 20px 0px;
    font-size: 20px;
}

.modal .confirmButton {
    width: 200px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    background-color: #00cc65;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.main .cart .confirmSale {
    background: white;
    max-width: 100%;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #838587;
}

.main .cart .confirmSale .reload {
    margin-top: 10px;
    width: 280px;
    display: flex;
    text-align: center;
    background-color: #00cc65;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    margin: 20px 0px;
    font-size: 20px;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #333333b0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 10000;
}

.modal .modalItem {
    width: 340px;
    height: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.29);
    position: relative;
    border-left: 2px solid #00cc65;
}

.modal .modalItem .title {
    font-size: 16px;
    color: #333;
    padding: 0px 10px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.modal .modalItem .title.error {
    border-left: 2px solid #fe5046;
    text-align:left; 
}


.activateModal {
    opacity:1 !important;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 13px;
    color: #333;
    padding: 5px 8px;
    background-color: #f3f3f3;
    cursor: pointer;
    z-index: 100000;
}

.hideReply {
    width: 360px;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 120px;
}

.footer {
    width: 100%;
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    background-color: #333;
}

.footer .footerLogo {
    height: 64px;
    position: relative;
    margin-right: 20px;
}

.footer .social {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3px;
    color: #ffffffbf;
}

.footer .social .footerLogo {
    width: 160px;
    position: absolute;
    left: 0px;
}

.footer .social .insta {
    height: 20px;
    position: relative;
    top: 4px;
    margin-right: 8px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.footer .social .fb {
    height: 18px;
    position: relative;
    top: 3px;
    margin-right: 7px;
    left: 2px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.footer .social .link {
    margin-bottom: 5px;
    position: relative;
    font-size: 0.8em;
}

.footer .social .web {
    height: 19px;
    margin-right: 6px;
    top: 3px;
    left: 1px;
    position: relative;
}

.footer .social .weblink {
    text-decoration: none;
    margin-bottom: 2px;
    position: relative;
}

.footer .contact {
    position: relative;
    margin-top: 3px;
    line-height: 26px;
    font-size: 0.8em;
}

.footer .contact .phone {
    position: relative;
    height: 20px;
    top: 4px;
    margin-right: 5px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.footer .zones {
    margin-top: 2px;
    position: relative;
    line-height: 26px;
}

.footer .zones .zone {
    position: relative;
    height: 20px;
    top: 5px;
    margin-right: 5px;
}

[v-cloak] {
    display: none;
}

.text-grey-dark {
    display: none;
}

body {
    position: relative;
}

.intro-copy {
    padding: 1em;
    margin: 50vh auto;
    max-width: 15em;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
}

.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 30px;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 1em 2em 0;
    border-radius: 50%;
    padding: .25em;
    width: 60px;
    height: 60px;
    background-color: #F8F8F8;
}

.top-link.show {
    visibility: visible;
    opacity: 1;
}

.top-link.hide {
    visibility: hidden;
    opacity: 0;
}

.top-link svg {
    fill: #000;
    width: 24px;
    height: 12px;
}

.top-link:hover {
    background-color: #E8E8E8;
}

.top-link:hover svg {
    fill: #000000;
}

.screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
}


@media (max-width: 580px) {
    .main .search.fixed .searchLabel {
        display:none;
    }
            .main .search.fixed #searchInput {
        width: 100px;
        max-width: 45%;
    }
}

@media (max-width: 420px) {
    .main .products .item {
        width: 160px;
        height:180px;
        max-width: 250px;
    }
    .main .products .item .setAmount {
        width: 100%;
    }
    .main .products .item .amount {
        width: 40%;
    }
    .main .filter.fixed {
        width: 180px;
    }
}

@media (max-width: 380px) {
    .main .filter .button {
        font-size:0px;
    }
}

@media (max-width: 340px) {
    .main .products .item {
        width: 95%;
        max-width: 250px;
    }
    .main .products .item .setAmount {
        width: 100%;
    }
    .main .filter .button {
        font-size:0px;
    }
}

@media (max-width: 300px) {
    .facet_sidebar {
        display: none;
    }
}